:root {
    --light: #fff;
}

* {
    font-family: Helvetica, sans-serif;
}

/* Font size set to 10px. 1rem will equal 10px. */
html {
    font-size: 13px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 14px;
}

/* Properties applied to the Header and Footer */
nav,
footer {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* The sidebar menu */
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 9%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background:url(./watercolor-background-with-hand-drawn-elements_23-2148867455.webp); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    opacity: 45%;
    border-radius: .9em;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 20px 8px 6px 8px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: lightpink;
  }
  
/* Header and Navigation Bar Section*/
nav {
    position: static;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 0;
    border-radius: 9em;
    margin-top: 2px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    z-index: 1;
    text-align: right;
    
}

/* This allows me to change the color based on hover and what page we are on */
nav:hover li a {
    opacity: 0.5; 
}
nav:hover li a:hover {
      opacity: 1; 
    
}

li {
    display: inline-block;
    margin: 1px;
    text-decoration: none;
}

a {
    color: pink;
    font-size: 13px;
    text-decoration: none;
    transition: .3s ease;
}

p {
    font-size: 12px;
}


#home-link,
#about-link,
#port-link,
#contact-link {
    visibility: hidden;
}


/* Area One, Home Section */
#area-one {
    background: url();
    margin-top: -1px;
    border-radius: .9em;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid #fff;
    justify-content: center;
}


img.hello-pic {
    width: 250px;
    max-width: 150px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    outline: .3px solid #fff;
    border-radius: .9em;
}

#home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px
    flex-wrap: nowrap;
    flex-direction: row;
}

.text-wrapper {
    width: 50%;
    margin-left: 1px;
}

/* Area Two, About Section */
#area-two {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    border-radius: .9rem;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
}

#area-two h2 {
    text-align: center;
}

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 7px;
    margin-right: 7px;
    padding: 2px;
}

#justify-content {
    justify-content: center;
}

.info {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}




/* Area Three, Portfolio Section */
#area-three {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    border-radius: .9rem;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
}

#area-three h2 {
    text-align: center;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 12px;
    padding: 2px;
}

#portfolio a {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transition: all 1s ease;
}

#portfolio a:hover {
    -webkit-filter:brightness(80%);
    filter: brightness(80%);
}

#portfolio h3 {
    color: #0f065e;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 12px;
    text-align: center;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: .9rem;
}

.gallery-link-one {
    width: 100%;
    height: 100%;
    outline: 2px solid #fff;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    background-image: url(./watercolor-background-with-hand-drawn-elements_23-2148867455.webp);
    border-radius: .9rem;
}

.gallery-link-two {
    width: 100%;
    height: 100%;
    outline: 2px solid #fff;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-image: url(./Screen\ Shot\ 2022-09-19\ at\ 6.42.09\ PM.png);
    border-radius: .9rem;
}

.gallery-link-three {
    width: 100%;
    height: 100%;
    outline: 2px solid #fff;
    grid-column: 3 / 6;
    grid-row: 4 / 6;
    background-image: url(./watercolor-background-with-hand-drawn-elements_23-2148867455.webp);
    border-radius: .9rem;
}

.gallery-link-one h3 {
    width: 40%;
    margin-top: 15%;
    border-radius: .9rem;
}

.gallery-link-two h3 {
    width: 90%;
    margin-top: 20%;
    border-radius: .9rem;
}

.gallery-link-three h3 {
   width: 55%;
   margin-top: 13%;
   border-radius: .9rem;
}


/* Area Four, Contact Section */
#area-four {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    border-radius: .9rem;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
}

#area-four h2 {
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: co ;
    flex-wrap:nowrap;
    padding: 2px;
    border-radius: .9rem;
   

    
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: .9rem;
    
}
  
label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    
}
    
input, 
textarea {
    box-sizing: border-box;
    width: 200px;
    border: 1px solid lightpink;
    border-radius: .9rem;
}
  
textarea {
    vertical-align: top;
    height: 200px;
}
    
button {
    height: 20px;
    width: 65px;
    background-color: lightpink;
    color: #fff;
    border-radius: .9rem;


}

.label-text {
    text-align: center;
}

.submit-button {
    text-align: center;
    
   
}

.contact {
    margin-top: 12px;
    font-size: 12px;
    justify-content: inline-block;
    text-align: center;
   
    
}

.contact ul li {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    text-align: right;
     
}

/* Footer Section */
footer {
    font-size: 12px;
    margin-top: 10px;
    bottom: 0;
    border-radius: .9rem;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #fff;
}

/* Media Queries Section */
