:root {
    --light: #fff;
}

* {
    font-family: Arial, Helvetica, sans-serif
}

/* Font size set to 10px. 1rem will equal 10px. */
html {
    font-size: 13px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url(./6548505.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: lightpink;
    width: 70%;
    height: fit-content;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 14px;
}

/* Properties applied to the Header and Footer */
nav,
footer {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* The sidebar menu */
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 140px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:lightpink; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    opacity: 50%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: lavenderblush;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: lightpink;
  }
/* Header and Navigation Bar Section*/
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    border-radius: 2px;
    margin-top: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    z-index: 1;
    
}

/* This allows me to change the color based on hover and what page we are on */
nav:hover li a {
    opacity: 0.5; 
}
nav:hover li a:hover {
      opacity: 1; 
    
}

li {
    display: inline-block;
    margin: 1px;
    text-decoration: none;
}

a {
    color:lightpink;
    font-size: 13px;
    text-decoration: none;
    transition: .3s ease;
}

p {
    font-size: 12px;
}

img.logo {
    height: 4px;
    width: 5px;
}

#home-link,
#about-link,
#port-link,
#contact-link {
    visibility: hidden;
}


/* Page One, Home Section */
#page-one {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    border-radius: .5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid lavenderblush;
}


img.hello-pic {
    width: 50%;
    max-width: 51rem;
    height: auto;
    margin-right: 1rem;
    margin-left: 10%;
    outline: .3rem solid #fff;
    border-radius: 5rem;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem
}

.text-wrapper {
    width: 50%;
    margin-left: 1rem;
}

/* Page Two, About Section */
#page-two {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    border-radius: .5rem;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: .3rem solid #fff;
}

#page-two h2 {
    text-align: center;
}

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    padding: 2px;
}

#justify-content {
    justify-content: center;
}

.info {
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 20px;
}




/* Page Three, Portfolio Section */
#page-three {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    border-radius: .5rem;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: .3rem solid #fff;
}

#page-three h2 {
    text-align: center;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 1.5rem;
    padding: 3rem;
}

#portfolio a {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transition: all 1s ease;
}

#portfolio a:hover {
    -webkit-filter:brightness(50%);
    filter: brightness(50%);
}

#portfolio h3 {
    color: #0f065e;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 2;
    text-align: center;
    border-top: .3rem solid #fff;
    border-right: .3rem solid #fff;
    border-bottom: .3rem solid #fff;
}

.gallery-link-one {
    width: 100%;
    height: 100%;
    outline: .3rem solid #fff;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    background-image: url(../assets/images/coding.jpg);
}

.gallery-link-two {
    width: 100%;
    height: 100%;
    outline: .3rem solid #fff;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-image: url(../assets/images/placeholder1.jpg);
}

.gallery-link-three {
    width: 100%;
    height: 100%;
    outline: .3rem solid #fff;
    grid-column: 3 / 6;
    grid-row: 4 / 6;
    background-image: url(../assets/images/placeholder3.jpg);
}

.gallery-link-one h3 {
    width: 20%;
    margin-top: 15%;
}

.gallery-link-two h3 {
    width: 50%;
    margin-top: 20%;
}

.gallery-link-three h3 {
   width: 30%;
   margin-top: 13%;
}


/* Page Four, Contact Section */
#page-four {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    border-radius: .5rem;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: .3rem solid #fff;
}

#page-four h2 {
    text-align: center;
}

#contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid lightpink;
    border-radius: 20px;
}
  
label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
}
    
input, 
textarea {
    box-sizing: border-box;
    width: 200px;
    border: 1px solid lightpink;
}
  
textarea {
    vertical-align: top;
    height: 200px;
}
    
button {
    height: 20px;
    width: 65px;
    background-color: lightpink;
    color: #FDF8F5;

}

.label-text {
    text-align: center;
}

.submit-button {
    text-align: center;

}

.contact-directly {
    margin-top: 12px;
    font-size: 12px;
}

.contact-directly ul li {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: right;
     
}


/* Footer Section */
footer {
    font-size: 12px;
    margin-top: 2rem;
    bottom: 0;
    border-radius: .5rem .5rem 0 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: .3rem solid #fff;
}

/* Media Queries Section */